# PYTHON VIRTUAL ENVIRONMENT
VENV/

# DATA FILES AND DATASETS
DATA/

# DOWNLOADED MODEL WEIGHTS
WEIGHTS/

# GFPGAN RUNTIME CACHE AND TEMP FILES
GFPGAN/

# PYTHON CACHE
__pycache__/
*.pyc

# ENVIRONMENT VARIABLES
.env