--EXTRA-INDEX-URL HTTPS://DOWNLOAD.PYTORCH.ORG/WHL/CPU
ABSL-PY==2.4.0
ADDICT==2.4.0
ASTTOKENS==3.0.1
BASICSR==1.4.2
CERTIFI==2022.12.7
CHARSET-NORMALIZER==2.1.1
COLORAMA==0.4.6
COMM==0.2.3
CONTOURPY==1.3.2
CYCLER==0.12.1
DEBUGPY==1.8.20
DECORATOR==5.2.1
EXCEPTIONGROUP==1.3.1
EXECUTING==2.2.1
FACEXLIB==0.3.0
FILTERPY==1.4.5
FONTTOOLS==4.61.1
FUTURE==1.0.0
GFPGAN==1.3.8
GRPCIO==1.76.0
IDNA==3.4
IMAGEIO==2.37.2
IPYKERNEL==7.1.0
IPYTHON==8.38.0
JEDI==0.19.2
JUPYTER_CLIENT==8.8.0
JUPYTER_CORE==5.9.1
KIWISOLVER==1.4.9
LAZY_LOADER==0.4
LLVMLITE==0.46.0
LMDB==1.7.5
MARKDOWN==3.10.1
MARKUPSAFE==3.0.3
MATPLOTLIB==3.10.8
MATPLOTLIB-INLINE==0.2.1
NEST-ASYNCIO==1.6.0
NETWORKX==3.4.2
NUMBA==0.63.1
NUMPY==1.26.4
OPENCV-PYTHON==4.8.1.78
PACKAGING==26.0
PARSO==0.8.5
PILLOW==12.0.0
PLATFORMDIRS==4.5.1
PROMPT_TOOLKIT==3.0.52
PROTOBUF==6.33.5
PSUTIL==7.2.2
PURE_EVAL==0.2.3
PYGMENTS==2.19.2
PYPARSING==3.3.2
PYTHON-DATEUTIL==2.9.0.POST0
PYYAML==6.0.3
PYZMQ==27.1.0
REALESRGAN==0.3.0
REQUESTS==2.28.1
SCIKIT-IMAGE==0.25.2
SCIPY==1.15.3
SIX==1.17.0
STACK-DATA==0.6.3
TB-NIGHTLY==2.21.0A20251023
TENSORBOARD-DATA-SERVER==0.7.2
TIFFFILE==2025.5.10
TOMLI==2.4.0
TORCH==1.13.1+CPU
TORCHVISION==0.14.1+CPU
TORNADO==6.5.4
TQDM==4.67.2
TRAITLETS==5.14.3
TYPING_EXTENSIONS==4.15.0
URLLIB3==1.26.13
WCWIDTH==0.5.3
WERKZEUG==3.1.5
YAPF==0.43.0
LPIPS